body {
    background-color: #1b4a55;
    font-family: 'Open Sans', sans-serif;
}

.logo-landing {
    display: block;
    margin: auto;
    width: 20em;
    margin-top: 20%;
}

.logo-nav {
    display: block;
    margin: auto;
    width: 20em;
    margin-top: -15%;
}

.tagline {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.4em;
    line-height: 1.5em;
    margin-top: 5%;
    font-size: 1.5em;
    animation: fadein 6s;
}

.sidenav {
    background-color: white;
}

body>ul>li>a:hover {
    background-color: #81c3c9 !important;
    color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}